*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
    line-height: 1;
    font-family: "Montserrat", sans-serif;

}
html,
body {
  height: 100%;
  min-width: 320px;
}
body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
input {
    outline:none;
}

main{
    flex: 1 1 auto;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}
[class*='__conteiner'] {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 10px;
}



/* ========HEADER============ */


.header {
    background: linear-gradient(180deg, #141414 0%, #00000057 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.header__logo{
}

.header__menu {
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__list {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    padding: 10px 0;
    transition: 0.5s;

}
.header__list::before{
    content: ' ';
    bottom: 0;
    position: absolute;
    width: 16px;
    border-bottom: 4px solid #f76100;
    border-radius: 72px;
    transition: 1s;
}
.header__list:hover::before{
    width: 100%;
}
.header__list:hover {
    color: #f76100;
    transition: 0.5s;
}

/* ============================= */

/* =============CONNECT================ */

.connect{
position: relative;
min-height: 100vh;
display: flex;
align-items: center;
padding: 100px 0 30px 0;
}
.connect__conteiner{
    width: 1250px;
    position: relative;
}
.baloon1{
    position: absolute;
    top: -65;
    left: 0;
    width: 110px;
    height: 151px;
    animation: baloon1 3s ease;
    animation-fill-mode: forwards;
    opacity: 0;
}
.connect__conteiner{
    position: relative;
    z-index: 2;
}
@keyframes baloon1{
    0%{
        top: -50px;
    }
    1%{
        top: 600px;
    }
    100%{
        top: -65px;
        opacity: 1;
    }
}
.baloon2{
    position: absolute;
    left: 0;
    animation: baloon2 4s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 1.5s;
}
@keyframes baloon2{
    0%{
        top: 600px;
        opacity: 0;
    }
    40%{
        opacity: 0.4;
    }
    60%,100%{
        top: 100px;
        opacity: 1;
    }
}
.gift1{
    top: -9%;
    right: 63%;
    position: absolute;
    width: 121px;
    height: 126px;
    cursor: pointer;
    opacity: 0;
    animation: gifts 3s ease 3.5s;
    animation-fill-mode: forwards;
}
.gift2{
    position: absolute;
    top: 0;
    right: 20%;
    width: 125px;
    height: 141px;
    cursor: pointer;
    opacity: 0;
    animation: gifts 3s ease 3.5s;
    animation-fill-mode: forwards;
}
@keyframes gifts{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.background__img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-position: top;
}

.connect__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connect__parts {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.connect__titel {
    background: #1b1b1b;
    border-radius: 50px;
    padding: 8px 16px;
    font-weight: 800;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.87);
}
.connect__parts h2{
    font-weight: 800;
    font-size: 40px;
    color: #fff;
}
.connect__parts h1{
    font-weight: 800;
    font-size: 100px;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px #fff;
}

.connect__car {
    position: relative;
    height: 365px;
}
.connect__car-move{
    position: absolute;
    animation: car 2.2s ease ;
    left: -480px;
}
@keyframes car {
    0%,20% {
        transform: translate(200vh, 0);
    }
    70%, 97%{
        transform: rotate(-2deg);
    }
    97.1%, 99.8%{
        transform: rotate(-1deg);
    }

    99.9%,100%{
        transform: rotate(0deg);
        transform: translate(0, 0);
    }
}

.connect__information {
    display: flex;
    align-items: center;
    position: relative;
}
.connect__text {
    padding: 8px 46px 8px 16px;
    font-weight: 700;
    font-size: 12px;
    color: #000;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 28px;
    width: 270px;
    position: relative;
}
.connect__text span{
    animation: figurText 2s ease 2.5s;
    opacity: 0;
    animation-fill-mode: forwards;

}
@keyframes figurText{
    0%,20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.connect__figure {
    position: absolute;
    animation: figure 1.5s ease 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes figure {
    0%{
        right: 210px;
        opacity: 1;
    }
    100%{
        right: -30px;
        opacity: 1;
    }
}
.burger__menu{
    width: 40px;
    height: 25px;
    position: absolute;
    display: none;
    cursor: pointer;
    top: 30px;
    right: 30px;
    z-index: 51;
}
.burger__menu span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 11px;
}
.burger__menu::before,
.burger__menu span,
.burger__menu::after{
    content: ' ';
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    transition: all 0.4s ease;
    right: 0;
}
.burger__menu::before{
    top: 0;
}
.burger__menu::after{
    bottom: 0;
}
@media (max-width:837px){
    .header__body{
        left: -100%;
        transition: left 0.4s ease;
    }
    .header__body.active{
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        overflow: auto;
        background-color: #9c4201;
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 50;
        gap: 15%;
        transition: left 0.4s ease;
    }
    .header__list::before{
        content: none;
    }
    .header__list{
        font-size: 25px;
    }
    .header__nav.active{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .burger__menu.active span{
        display: none;
    }
    .burger__menu.active::before{
        rotate: 45deg;
        top: 12px;
        background-color: #f76100;
    }
    .burger__menu.active::after{
        rotate: -45deg;
        bottom: 11px;
        background-color: #f76100;
    }
    .burger__menu{
        display: block;
    }
    .header__nav{
        display: none;
    }
    .connect__car{
        height: 270px;
    }
    .connect__car-move{
        width: 780px;
        left: -306px;
    }
    .connect__text {
        width: 400px;
        font-size: 16px;
    }
    .connect__figure {
        animation: figureMedia 1.5s ease 2s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    .baloon2{
        display: none;
    }
    .gift1{
        width: 91px;
        height: 96px;
        top: -85px;
        left: 165px;
    }
    .gift2{
        width: 95px;
        height: 111px;
        top: -26px;
        right: 0px; 
    }
    .background__img{
        min-width: 1440px;
        overflow: hidden;
    }
}


@keyframes figureMedia {
    0%{
        right: 330px;
        opacity: 1;
    }
    100%{
        right: -30px;
        opacity: 1;
    }
}


@media (max-width:530px){
    .connect__car-move{
        width: 516px;
        left: -200px;
    }
    .connect__car{
        height: 200px;
    }
    .connect__text{
        font-size: 14px;
        max-width: 310px;
    }
    .baloon1{
        width: 70px;
        height: 111px;
    }
    .gift1{
        width: 71px;
        height: 76px;
        top: -100px;
        left: 110px;
    }
    .gift2{
        width: 65px;
        height: 71px;
        top: -60px;
        right: 15px;
    }
    .background__img{
        min-width: 1440px;
        overflow: hidden;
    }
}
/* ============================= */


/* ========INFORMATIONS============ */

.informations {
    background: linear-gradient(180deg, #1b1b1b 0%, #272727 100%);
}
.informations__body {
    padding: 51px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.informations__body h2 span{
    font-weight: 800;
    font-size: 48px;
    color: #f76100;
}
.informations__body h2{
    font-weight: 800;
    font-size: 48px;
    color: #fff;
    text-align: center;

}
.informations__body p{
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-bottom: 45px;
    text-align: center;
}
.informations__send {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;

}
.informations__send input{
    min-width: 380px;
    border-radius: 8px;
    background-color: #fff;
    padding: 14px 0 14px 14px;
    font-weight: 400;
    font-size: 24px;
    color: #8b8b8b;
    transition: 0.5s;
}
.send__name:hover {
    transition: 0.5s;
    box-shadow: 0 0 20px 10px #f76100;
}
.send__email:hover {
    transition: 0.5s;
    box-shadow: 0 0 20px 10px #f76100;
}
.send__information {
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.87);
    padding: 18px;
    background: #f76100;
    cursor: pointer;
    align-self: center;
    transition: 0.5s;
}
.send__information:hover {
    transition: 0.5s;
    background: #8a3700;
}

@media (max-width:797px){
    .informations__send input {
        min-width: 306px;
    }
}

@media (max-width:650px){
    .informations__send input {
        width: 100%;
    }
    .send__information{
        width: 100%;
    }
}

/* ============================= */

/* =============MAGAZIN================ */
.magazin{
    background: linear-gradient(176deg, #fd8902 0%, #ff4e00 41%);
}
.magazin__title{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #fff;
    margin-bottom: 29px;
}
.magazin__conteiner{
    padding: 42px 0 0 0;
    max-width: 1024px;
    position: relative;
}
.swiper {
    position: relative;
}
.swiper-wrapper.wrapper-swiper {
    padding-bottom: 40px;
}
.swiper-slide.slide-swiper{
    display: flex;
    gap: 8px;
    background: #fff;
    border-radius: 8px;
    margin-left: 5px;
}
.slide-img {
    margin: 16px 0 16px 16px;
}
.slide-content {
    margin: 21px 21px 21px 0px;
    display: flex;
    flex-direction: column;
}
.slide-titel {
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    color: #696969;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.slide-text {
    font-weight: 600;
    font-size: 12px;
    color: #333;
    padding-right: 26px;
    margin-bottom: 10px;

}
.slide-price {
    font-weight: 800;
    font-size: 30px;
    color: #ff4900;
    flex: 1 1 auto;
}
.slide-price span{
    font-weight: 800;
    font-size: 18px;
    color: #ff4900;

}
.slide-info {
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 14px;
    color: #696969;
}
.slide-buy {
    background: #ff6b00;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    max-width: 100%;
    cursor: pointer;
    transition: 0.5s;
    padding: 6px 0;
    text-align: center;
}
.slide-buy:hover{
    background: #9c4201;
    transition: 0.5s;
}
.swiper-pagination {
}
.magazin__conteiner .swiper-button-prev::after,
.magazin__conteiner .swiper-button-next::after{
    content: ' ';
    font-family: none;
    width: 20px;
    height: 20px;
}

.magazin__conteiner .swiper-button-prev,
.magazin__conteiner .swiper-button-next{
    position: absolute;
    color: #fff;
}
.magazin__conteiner .swiper-button-prev{
    left: -4%;
    transition: 1s;
    font-size: 30px;
    font-weight: 900;
}
.magazin__conteiner .swiper-button-next{
    right: -4%;
    transition: 1s;
    font-size: 30px;
    font-weight: 900;
}
@media (max-width:1114px){
    .magazin__conteiner .swiper-button-prev{
        left: 30%;
        top: 72%;
    }
    .magazin__conteiner .swiper-button-next{
        right: 30%;
        top: 72%;
    }
}
@media (max-width:626px){
    .magazin__conteiner .swiper-button-prev{
        left: 30%;
        top: 74.5%;
    }
    .magazin__conteiner .swiper-button-next{
        right: 30%;
        top: 74.5%;
    }
}
@media (max-width:470px){
    .magazin__conteiner .swiper-button-prev{
        left: 20%;
        top: 74.5%;
    }
    .magazin__conteiner .swiper-button-next{
        right: 20%;
        top: 74.5%;
    }
}
@media (max-width:384px){
    .magazin__conteiner .swiper-button-prev{
        left: 20%;
        top: 76%;
    }
    .magazin__conteiner .swiper-button-next{
        right: 20%;
        top: 76%;
    }
}
.magazin__conteiner .swiper-button-next:hover,
.magazin__conteiner .swiper-button-prev:hover{
    transition: 1s;
    color: #000;
}

.swiper-button-prev::after{
    left: -180%;
}
.swiper-button-next::after{
    right: -180%;
}
.swiper-scrollbar {
    display: none;
}
.swiper-reviews__pagination {
    display: flex;
}
.swiper-reviews__pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: #fff;
    border-radius: 20px;
    flex: 0 0 12px;
    height: 14px;
    transition: all 5s ease ;
}
.swiper-reviews__pagination .swiper-pagination-bullet-active {
    background-color: #222;
    flex: 0 0 12px;
}
.button__block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0 46px 0;
}
.magazin__button{
    background: linear-gradient(180deg, #1b1b1b 0%, #272727 100%);
    border-radius: 20px;
    font-weight: 800;
    font-size: 16px; 
    padding: 6px 12px;
    cursor: pointer;
    transition: 1s;
    color: #ff6236;
    box-shadow: 0 0 5px 2px #3e3c3b;
}
.magazin__button:hover{
    transition: 1s;
    color: #fff;
    box-shadow: 0 0 5px 5px #fff;
}
/* ============================= */

/* =============ABOUT================ */

.about {
    background: url('../img/bg-about.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.about__conteiner {
    padding: 0 35px;
}
.about__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
}
.about__title {
    margin-top: 42px;
    font-weight: 800;
    font-size: 48px;
    color: #fff;
    text-align: center;
}
.about__title span{
    color: #f76100;
    padding-right: 10px;
}
.about__block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b1b1b;
    padding: 40px 29px;
    border-radius: 8px;
    gap: 50px;
    position: relative;
}

.block__treker1{
    position: absolute;
    width: 100%;
    height: 120%;
    border-left: 8px dashed #fff;
    border-bottom: 8px dashed #fff;
    border-radius:0 0 0 16px;
    left: -21px;
    bottom: -24px;
}

.baloon__treker{
    position: absolute;
    bottom: -71px;
    right: -52px;
    width: 80px;
    height: 90px;
    z-index: 2;
    rotate: 14deg;
}
.baloon__treker:hover{
    animation: baloon-up 1.2s ease-in-out;
}
@keyframes baloon-up {
    20%, 60%{
        transform: rotate(5deg);
    }
    40%, 60%{
        transform: rotate(-5deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px);
        rotate: 0deg;
        opacity: 0;
    }
}
.gift__treker{
    position: absolute;
    top: -61px;
    left: -33px;
    width: 46px;
    height: 60px;
    z-index: 2;
    rotate: 49deg;
}
.gift__treker:hover{
    animation: gift-down 1.2s ease-in-out;
}
@keyframes gift-down {
    20%, 60%{
        transform: rotate(15deg);
    }
    40%, 80%{
        transform: rotate(-15deg);
        opacity: 1;
    }
    100%{
        transform: translateY(800px);
        rotate:0deg;
        opacity: 0;
    }
}
.block__treker2{
    position: absolute;
    width: 100%;
    height: 100%;
    border-right: 8px dashed #fff;
    border-bottom: 8px dashed #fff;
    border-radius: 0 0 16px 0;
    right: -21px;
    bottom: -24px;
}
.block__treker3{
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 8px dashed #fff;
    left: -21px;
}

.about__block:nth-child(2n+1){
    flex-direction: row-reverse;
}

.about__block:last-child {
    margin-bottom: 64px;
}
.about__text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.about__title-titel {
    font-weight: 800;
    font-size: 48px;
    color: #fff;
    margin-bottom: 28px;
}
.about__text-text {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}
.about__block-img {
    width: 100%;
}

@media (max-width: 864px){
    .about__block,
    .about__block:nth-child(2n+1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about__title-titel{
        font-weight: 600;
        font-size: 40px;
        text-align: center;
    }
    .about__text-text{
        font-weight: 400;
        font-size: 20px;
    }
    .about__block-img{
        width: 80%;
    }
}
@media (max-width: 460px){
    .about__title-titel{
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }
    .about__text-text{
        font-weight: 400;
        font-size: 16px;
    }
    .about__block-img{
        width: 100%;
    }
}
@media (max-width: 384px){
    .about__title {
        font-weight: 800;
        font-size: 40px;
    }
}
/* ============================= */

/* =============MOBILE LINKS================ */

.mobile__links {
    background: linear-gradient(176deg, #fd8902 0%, #ff4e00 41%);
}
.mobile__conteiner {
}
.mobile__body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 89px;
    padding: 42px 0;
}
.mobile__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #fff;
}
.mobile__information div{
    border-radius: 20px;
    border: 2px dashed #fff;
    margin-top: 30px;
}
.mobile__information div span{
    display: flex;
    font-weight: 600;
    font-size: 24px;
    padding: 10px 20px;
    align-items: center;
}
.mobile__information-opacity {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px #fff;
}
.mobile__Qr {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}
.mobile__Qr img{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
}

.mobile__store {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.mobile__store-text {
    font-weight: 800;
    font-size: 18px;
    color: #ff4900;
}
.mobile__store-link {
}
@media (max-width:1159px){
    .mobile__information {
        font-size: 26px;
    }
    .mobile__body {
        gap: 40px;
    }
}
@media (max-width:966px){
    .mobile__body {
        flex-direction: column;
    }
    .mobile__information {
        font-size: 36px;
    }
}
@media (max-width:560px){
    .mobile__information {
        font-size: 26px;
    }
    .mobile__Qr-img{
        max-width: 160px;
    }
    .mobile__store-text {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        justify-content: center;
    }
    .mobile__store-link{
        max-width: 160px;
    }
    .mobile__store{
        align-items: flex-start;
    }
}
@media (max-width:395px){
    .mobile__information {
        font-size: 20px;
    }
    .mobile__information div span {
        font-size: 16px;
    }
    .mobile__Qr-img {
        max-width: 130px;
    }
    .mobile__store-link {
        max-width: 130px;
    }
    .mobile__store-text {
        font-size: 10px;
    }
}

/* ============================= */

/* =============PARTNERS================ */

.partners {
    background: #fff;
}
.partners__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 44.5px;
}
.partners__body {
    margin-top: 43px;
    margin-bottom: 43px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.partners__title {
    font-weight: 800;
    font-size: 40px;
    color: #ff4900;
    text-align: center;
    margin-bottom: 30px;

}
.partners__title span{
    font-weight: 800;
    font-size: 40px;
    line-height: 80%;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px #000;
}
.partners__text {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #1b1b1b;
    margin-bottom: 22px;
}
.partners__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 51.5px;
}
.partners__img div{
    gap: 51.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ============================= */

/* =============FAQ================ */


/* ============================= */



/* =============FOOTER================ */

.footer {
    height: 260px;
    background: #1b1b1b;
}
.footer__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 47px 0;
}
.footer__links {

}
.footer__social {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 16px;
}
.footer__link {
    transition: 0.5s;

}
.footer__link:hover {
    transition: 0.5s;
    box-shadow: 0 0 10px #fff;
}
.footer__logo {
    margin-bottom: 16px;

}
.footer__brend {
}

/* ============================= */
